/* Live Search */
livesearch:hover,
livesearch:focus,
fa-search:hover {
  border-color: #818181;

  /*FallBack Compat*/
  -webkit-box-shadow: 0 -10px 100px whitesmoke, 0 1px 2px whitesmoke;
  box-shadow: 0 -10px 100px whitesmoke, 0 1px 2px whitesmoke;
}
button.livesearch {
  border-width: 0px 0px 0px 1px;
  margin: 0;
  height: 32px;
  background: lightgrey;
}

input.livesearch {
  vertical-align: top;
  font-size: 0.9em;
  font-weight: 400;
  border: 5px;
  width: 200px;
  height: 32px;
  margin: 0;
  padding: 10px;
}

.minisearch {
  background-color: #343a40;
  min-width: 250px;
  max-width: 500px;
  max-height: 85%;
  position: fixed;
  position: sticky;
  z-index: 1;
  top: 45px;
  overflow-x: hidden;
  border-color: #2a4650;
  /*border-color: #e7e7e7;*/
  color: whitesmoke;
  border-radius: 20px;
}

.minisearch h4 {
  padding-left: 20px;
  background-color: #343a40;
  color: whitesmoke;
  font-size: 1.2em;
}
.minisearch p,
.minisearch h5 {
  color: #343a40;
}
.yellow {
  background-color: #ffff00; /* yellow */
  background-color: #343a40; /* darkgrey */
}
