/* colors***************************************************/
/* 
tulip: #FE938C
pale gold: #E6B89C
desert sand: #EAD2AC
pewter blue: #9CAFB7
steel blue: #4281A4
https://coolors.co/fe938c-e6b89c-ead2ac-9cafb7-4281a4

https://coolors.co/d49f8c-a9b48a-88b4ab-c35b4f-87a985
tan: #D49F8C
sage: #A9B48A
pewter blue: #88B4AB
cedar chest: #C35B4F
asparagus: #87A985
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css?family=Neucha|Pontano+Sans&display=swap");
body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 16px;
  min-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
header img {
  opacity: 0.7;
  /* display: inline; */
}
header h1,
#registrationTitle,
#loginTitle {
  color: #4281a4;
  font-family: "Neucha", cursive;
  font-size: 4em;
  /* padding-left: 2em;
  padding-top: 2em; */
}
header {
  display: grid;
  grid-template-rows: 1fr;
  /* background-image: url(../wk7/images/blueBricks.jpg); */
  border-bottom: 2px solid #4281a4;
}
.topOfPage {
  display: inline-flex;
  margin-left: 0px;
  background-color: #ead2ac;
  background-image: url(../wk7/images/grungeColor.jpg);
  /* CanStock Photo by april70 https://www.canstockphoto.com/textured-background-9878812.html used with permission */
}
.mainHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.mainNav {
  padding-top: 5em;
}
nav {
  width: 100%;
  text-align: left;
  height: 60px;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  margin: 0 1.5em;
  font-size: 1.5em;
}
nav ul li a {
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  text-decoration: none;
}
nav ul li a:link {
  color: white;
}
nav ul li a:visited {
  color: white;
}
nav ul li a:hover {
  color: #c35b4f;
}
nav ul li a:active {
  color: #4281a4;
}
a.current:link,
a.current:visited {
  color: #4281a4;
}
#bookTable {
  color: #4281a4;
}
main h2 {
  color: #4281a4;
  font-family: "Neucha", cursive;
}
main {
  padding-top: 2em;
  width: 90%;
  margin: 0 auto;
}
td {
  text-align: left;
  width: 15em;
}
#detailsMain {
  text-align: left;
  padding-left: 15em;
  padding-top: 2em;
}
#detailsMain h3 {
  /* padding: 1em; */
}
#bookTable {
  width: 100%;
}
#newBook {
  color: #c35b4f;
  padding-top: 1.5em;
}
#inputForm {
  text-align: left;
  padding-left: 15em;
}
#title {
  width: 30em;
}
#author {
  width: 30em;
}
#isbn {
}
#media {
  width: 30em;
}
#genre {
  width: 30em;
}
#tags {
  width: 30em;
}
#loginPic {
  width: 100%;
}
#loginBody,
#registrationBody {
  margin: 0;
  padding: 0;
  background-image: url(../wk7/images/sparklyBook.jpg);
  /* CanStock Photo by Jag_cz https://www.canstockphoto.com/old-book-on-wooden-table-22417225.html  used with permission*/
}
#loginInput,
#registrationInput {
  color: white;
  text-align: left;
  margin: 4em;
}
#loginInput h2 {
  color: white;
}
#registrationInput h2 {
  color: #c35b4f;
}
#registrationInput h6,
#registrationInput h2 a {
  color: white;
}
/* #loginTitle,
#registrationTitle {
  color: white;
  text-align: left;
} */
/* #homeBody {
  z-index: -10;
}
#topImage {
  z-index: 10;
} */
.error {
  color: white;
  font-weight: bold;
}
footer {
  background-color: #ead2ac;
  color: black;
  padding: 2em;
  background-image: url(../wk7/images/grungeColor.jpg);
  /* CanStock Photo by april70 https://www.canstockphoto.com/textured-background-9878812.html used with permission */
  height: 5em;
}
.btn-rose {
  background-color: #c35b4f;
  color: white;
  padding: 2em;
  border-radius: 2em;
}
